<div class="web-app page-thumbnail">
<div id="_main_ui_root" class="layout-wrapper module-disk">
  <div id="_main_fixed_header" class="layout-header">
    <div class="layout-header-inner">
      <!-- 顶部导航 s -->
      <div id="_main_top" class="mod-nav clearfix">
        <div class="logo">
          <a href="http://www.weiyun.com/?WYTAG=appbox.disk.logo" target="_blank" title="腾讯微云" tabindex="-1">腾讯微云</a>
        </div>
        <div id="_main_normal">
          <!-- 传输面板 s -->
          <div class="mod-act">
            <span class="act-link" id="_main_header_manage" href="javascript: void(0);" data-action="manage" title="文件管理" style="cursor: pointer;"> <i class="icon icon-act j-manage-icon"></i> <span class="sync-num j-manage-num" style="display: none;"></span> </span>
          </div>
          <!-- 传输面板 e -->
          <!--搜索 s -->
          <div class="mod-search j-header-search">
            <!--获得焦点状态添加类名focus -->
            <i class="icon icon-search"></i>
            <label>输入文件名</label>
            <input class="mod-input" type="text" autocomplete="off" maxlength="40" aria-label="输入文件名并按下回车进行搜索" tabindex="0" />
            <a class="close" href="javascript: void(0);" aria-label="关闭搜索界面" hidefocus="on"><i class="icon icon-close"></i></a>
          </div>
          <!--搜索 e -->
          <!-- 视图模式 s -->
          <div id="_main_bar0" class="mod-view">
            <div class="view-item-list clearfix">
              <div data-id="view_switch" class="view-item clearfix">
                <a data-action="list" data-name="list" class="item-list " href="javascript: void(0);" title="列表视图"> <i class="icon icon-list"></i> </a>
                <a data-action="thumb" data-name="thumb" class="item-list cur" href="javascript: void(0);" title="缩略图视图"> <i class="icon icon-thum"></i> </a>
              </div>
              <div data-id="rank_switch" class="view-item clearfix">
                <a data-action="time" data-name="time" class="item-list cur" href="javascript: void(0);" title="按时间排序"> <i class="icon icon-ren"></i> </a>
                <a data-action="letter" data-name="letter" class="item-list " href="javascript: void(0);" title="按字母排序"> <i class="icon icon-letter"></i> </a>
              </div>
            </div>
          </div>
          <!-- 视图模式 e -->
          <!-- 用到的css：mod-nav.css -->
          <!-- 添加 s -->
          <!-- [ATTENTION!!] 切换 .on -->
          <div data-action="upload" class="mod-upload">
            <input id="_upload_html5_input" name="file" type="file" multiple="multiple" aria-label="上传文件，按空格选择文件。" style="display: none;" />
            <label for="_upload_html5_input"><span class="btn btn-l btn-upload"><i class="icon icon-add"></i><span class="btn-txt">添加</span></span></label>
            <!-- 添加内容 s -->
            <div class="mod-bubble-dropdown with-border top-right upload-bubble-dropdown j-upload-drop">
              <ul class="upload-dropdown clearfix">
                <li class="upload-item" data-action="upload_files" style="">
                  <div class="inner">
                    <b class="icon icon-upload icon-upload-file"></b>
                    <p class="txt" tabindex="-1">上传文件</p>
                  </div> </li>
                <li class="upload-item" data-action="upload_folder" style="">
                  <div class="inner">
                    <b class="icon icon-upload icon-upload-dir"></b>
                    <p class="txt" tabindex="-1">上传文件夹</p>
                  </div> </li>
                <li class="upload-item" data-action="offline_download" style="">
                  <div class="inner">
                    <b class="icon icon-upload icon-offline-download"></b>
                    <p class="txt" tabindex="-1">离线下载</p>
                  </div> </li>
                <li class="upload-item" data-action="create_folder" style="">
                  <div class="inner">
                    <b class="icon icon-upload icon-create-dir"></b>
                    <p class="txt" tabindex="-1">创建文件夹</p>
                  </div> </li>
                <li class="upload-item" data-action="add_note" style="">
                  <div class="inner">
                    <b class="icon icon-upload icon-add-note"></b>
                    <p class="txt" tabindex="-1">添加笔记</p>
                  </div> </li>
              </ul>
              <b class="bubble-arrow-border"></b>
              <b class="bubble-arrow"></b>
            </div>
            <!-- 添加内容 e -->
          </div>
          <!-- 添加 e-->
        </div>
        <!-- 工具栏 s-->
        <div id="_main_edit" style="display: none;">
          <div class="select-btn-wrap">
            <a href="javascript: void(0);" class="select-btn" data-action="edit_cancel_all">取消选择</a>
          </div>
          <div class="edit-select j-edit-count">
            <p>选择了<span class="j-edit-count-text"></span>项</p>
          </div>
          <!--导航栏编辑按钮 s -->
          <div class="mod-edit-bar">
            <ul class="edit-wrap clearfix" id="_main_bar1">
              <li data-btn-id="edit" data-no-selection="" class="edit-item" tabindex="-1" style=""><i class="icon icon-edit"></i><span class="text">编辑</span></li>
              <li data-btn-id="share_edit" data-no-selection="" class="edit-item" tabindex="-1" style=""><i class="icon icon-edit-invite"></i><span class="text">邀请好友编辑</span></li>
              <li data-btn-id="share" data-no-selection="" class="edit-item" tabindex="-1"><i class="icon icon-share"></i><span class="text">分享</span></li>
              <li data-btn-id="pack_down" data-no-selection="" class="edit-item" tabindex="-1"><i class="icon icon-download"></i><span class="text">下载</span></li>
              <li data-btn-id="del" data-no-selection="" class="edit-item" tabindex="-1"><i class="icon icon-trash"></i><span class="text">删除</span></li>
              <li class="edit-item has-more"> <i class="icon icon-menu-more"></i>
                <div class="mod-bubble-dropdown with-border top-right edit-bubble-dropdown">
                  <ul class="list-dropdown">
                    <li data-btn-id="move" data-no-selection="" class="item" tabindex="-1"><button class="btn-link">移动到</button></li>
                    <li data-btn-id="rename" data-no-selection="" class="item" tabindex="-1"><button class="btn-link">重命名</button></li>
                    <li data-btn-id="add_safebox" data-no-selection="" class="item" tabindex="-1"><button class="btn-link">移入保险箱</button></li>
                  </ul>
                  <b class="bubble-arrow-border"></b>
                  <b class="bubble-arrow"></b>
                </div> </li>
              <!--<li data-btn-id="mkdir" data-no-selection class="edit-item" tabindex="-1"><i class="icon icon-trash"></i><span class="text">新建文件夹</span></li>-->
              <!--<li data-btn-id="refresh" data-no-selection class="edit-item" tabindex="-1"><i class="icon icon-trash"></i><span class="text">删除</span></li>-->
            </ul>
          </div>
          <!--导航栏编辑按钮 e -->
        </div>
        <!-- 工具栏 e-->
      </div>
      <!-- 顶部导航 e -->
    </div>
  </div>
  <div class="layout-body">
    <div class="layout-body-inner">
      <!-- 左侧栏 s -->
      <div id="_main_nav" class="layout-aside" data-no-selection="" style="height: 849px;">
        <!-- layout-aside-hd s -->
        <div class="layout-aside-hd">
          <!-- 用到的样式：mod-user.css -->
          <!-- 用户头像 s -->
          <div class="mod-user mod-user-vip">
            <!-- vip用户加类名 mod-user-vip,vip过期用户加类名 mod-user-vip-expire-->
            <div id="_main_face" class="user-avatar">
              <a class="user-avatar-pic" href="javascript: void(0);" data-id="qzone_vip"> <img src="https://thirdqq.qlogo.cn/g?b=sdk&amp;k=s5giaD0rwq8A84udGjbgXFg&amp;s=640&amp;t=1483405799" /> <i class="icon icon-vip j-vip-icon" title="VIP会员" style="display: none; background-image: url(//qzonestyle.gtimg.cn/qz-proj/wy-src/img/vip-v2/vip_0_off_M.png);"></i> </a>
            </div>
            <!-- 用户信息 s -->
            <div id="_main_face_menu" class="mod-bubble-dropdown acct-bubble-dropdown" style="display: none;">
              <div class="acct-dropdown">
                <div class="acct-info">
                  <div class="name-container clearfix">
                    <span id="_main_nick_name" class="name">白菜</span>
                  </div>
                  <div id="_main_space_info" class="space-container">
                    <p class="txt"> 已使用:<span id="_main_space_info_used_space_text">3.9G</span>&nbsp; 总容量:<span id="_main_space_info_total_space_text">10G</span> </p>
                    <div class="quota-graph-container" title="39%">
                      <div class="quota-graph"></div>
                      <div id="_main_space_info_bar" class="quota-graph-bar" style="width: 39%;"></div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <!-- 用户信息 e -->
          </div>
          <!-- 用户头像 s -->
        </div>
        <!-- layout-aside-hd e -->
        <!-- layout-aside-bd s -->
        <div id="_main_nav_aside_box" class="layout-aside-bd" style="height: 745px; overflow-y: hidden;">
          <!-- 菜单 s -->
          <div id="_main_nav_aside_wrap" class="mod-menu" style="width: 100%;">
            <!-- 最近s -->
            <div class="menu-item">
              <div class="menu-item-bd">
                <ul class="menu-list">
                  <li data-mod="recent" data-op="NAV_RECENT"> <a href="javascript: void(0);"><i class="icon icon-ren"></i><span class="menu-tit">最近</span></a> </li>
                </ul>
              </div>
            </div>
            <!-- 最近e -->
            <!-- 文件s -->
            <div class="menu-item">
              <div class="menu-item-hd">
                <h3 class="tit">文件</h3>
              </div>
              <div class="menu-item-bd">
                <ul class="menu-list">
                  <li class="cur" data-mod="disk" data-op="NAV_DISK"> <a href="page-home.html"><i class="icon icon-all"></i><span class="menu-tit">全部</span></a> </li>
                  <li data-mod="doc" data-op="NAV_DOC"> <a href="javascript: void(0);"><i class="icon icon-doc"></i><span class="menu-tit">文档</span></a> </li>
                  <li data-mod="album" data-op="NAV_ALBUM"> <a href="javascript: void(0);"><i class="icon icon-pic"></i><span class="menu-tit">图片</span></a> </li>
                  <li data-mod="video" data-op="NAV_VIDEO"> <a href="javascript: void(0);"><i class="icon icon-video"></i><span class="menu-tit">视频</span></a> </li>
                  <li data-mod="note" data-op="NAV_NOTE"> <a href="javascript: void(0);"><i class="icon icon-note"></i><span class="menu-tit">笔记</span></a> </li>
                  <li data-mod="audio" data-op="NAV_AUDIO"> <a href="javascript: void(0);"><i class="icon icon-music"></i><span class="menu-tit">音乐</span></a> </li>
                </ul>
              </div>
            </div>
            <!-- 文件e -->
            <!-- 照片s -->
            <div class="menu-item">
              <div class="menu-item-hd">
                <h3 class="tit">照片</h3>
              </div>
              <div class="menu-item-bd">
                <ul class="menu-list">
                  <li data-mod="photo_time" data-op="NAV_ALBUM"> <a href="javascript: void(0);"><i class="icon icon-time"></i><span class="menu-tit">时间</span></a> </li>
                  <li style="display: none;"> <a href="javascript: void(0);"><i class="icon icon-location"></i><span class="menu-tit">地点</span></a> </li>
                  <li style="display: none;"> <a href="javascript: void(0);"><i class="icon icon-tag"></i><span class="menu-tit">标签</span></a> </li>
                </ul>
              </div>
            </div>
            <!-- 照片e -->
            <!-- 我的s -->
            <div class="menu-item">
              <div class="menu-item-hd">
                <h3 class="tit">我的</h3>
              </div>
              <div class="menu-item-bd">
                <ul class="menu-list">
                  <li data-mod="safebox" data-op="NAV_SAFEBOX"> <a href="javascript: void(0);"><i class="icon icon-add-safebox"></i><span class="menu-tit">保险箱</span></a> </li>
                  <li data-mod="share" data-op="NAV_SHARE"> <a href="javascript: void(0);"><i class="icon icon-share"></i><span class="menu-tit">分享链接</span></a> </li>
                  <li data-mod="recycle" data-op="NAV_RECYCLE"> <a href="javascript: void(0);"><i class="icon icon-trash"></i><span class="menu-tit">回收站</span></a> </li>
                </ul>
              </div>
            </div>
            <!-- 我的e -->
            <div id="_main_nav_split" style="height: 213px;"></div>
            <div class="install-download" style="display: none;">
              <a class="android" href="#" title="安装android版" data-action="android" tabindex="-1" data-tj-action="btn-adtag-tj" data-tj-value="69110"><span>android</span></a>
              <a class="iphone" href="#" title="安装iphone版" data-action="iphone" tabindex="-1" data-tj-action="btn-adtag-tj" data-tj-value="69120"><span>iphone</span></a>
              <a class="ipad" href="#" title="安装ipad版" data-action="ipad" tabindex="-1" data-tj-action="btn-adtag-tj" data-tj-value="69130"><span>ipad</span></a>
            </div>
          </div>
          <!-- 菜单 s -->
        </div>
      </div>
      <!-- 左侧栏 e -->
      <!-- 主要内容 s -->
      <!--<div class="layout-main">-->
        <!--<div id="_main_hd" class="layout-main-hd">-->
          <!--<div id="_main_bar2" class="mod-act-panel" style="opacity: 1;">-->
            <!--<div id="_disk_file_path" class="act-panel-inner cleafix" style="">-->
              <!--<div class="mod-check">-->
                <!--<i id="_disk_all_checker" data-file-check="" class="icon icon-checkbox icon-check-s"></i>-->
              <!--</div>-->
              <!--&lt;!&ndash; 面包屑导航 s &ndash;&gt;-->
              <!--&lt;!&ndash; 面包屑导航 &ndash;&gt;-->
              <!--<div class="mod-breadcrumb">-->
                <!--<ul data-inner="" class="breadcrumb clearfix">-->
                  <!--<li data-cur="" tabindex="0" hidefocus="on" class="item cur"> <a href="javascript:void(0)">微云</a></li>-->
                <!--</ul>-->
              <!--</div>-->
              <!--&lt;!&ndash; 面包屑导航 e &ndash;&gt;-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div id="_main_content" class="layout-main-bd" style="height: 791px; opacity: 1;">-->
          <!--<div id="_main_box" class="inner" style="height: 100%">-->
            <!--<div id="_disk_body" class="mod-list-group">-->
              <!--<div class="list-group-bd">-->
                <!--&lt;!&ndash; 空目录时的提示 &ndash;&gt;-->
                <!--<div id="_disk_files_empty" class="empty-box" style="display: none;">-->
                  <!--<div class="status-inner">-->
                    <!--<i class="icon icon-nofile"></i>-->
                    <!--<h2 class="title">暂无文件</h2>-->
                    <!--<p class="txt">请点击右上角的“添加”按钮添加</p>-->
                  <!--</div>-->
                <!--</div>-->
                <!--<ul id="list_disk_files" class="list-group">-->
                <!--</ul>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div id="_thumb_disk_body" data-label-for-aria="文件缩略图内容区域">-->
              <!--<div class="mod-item-list">-->
                <!--<ul id="thumb_folders_disk_files" class="item-list clearfix">-->
                  <!--<li id="thumb_disk_file_item_d89ea6556f4a363063fb89a031343629" data-file-id="d89ea6556f4a363063fb89a031343629" class="item ui-draggable ui-droppable" style="width: 185px;">-->
                    <!--<div data-action="enter" class="inner">-->
                      <!--<i class="icon icon-m icon-file-m"></i>-->
                      <!--<span class="txt" data-name="file_name" title="QQ">QQ</span>-->
                    <!--</div> <i data-file-check="" class="icon icon-check-m"></i> </li>-->
                  <!--<li id="thumb_disk_file_item_d89ea65525d6fee520d9a6387ff051b6" data-file-id="d89ea65525d6fee520d9a6387ff051b6" class="item ui-draggable ui-droppable" style="width: 185px;">-->
                    <!--<div data-action="enter" class="inner">-->
                      <!--<i class="icon icon-m icon-file-m"></i>-->
                      <!--<span class="txt" data-name="file_name" title="图片资料">图片资料</span>-->
                    <!--</div> <i data-file-check="" class="icon icon-check-m"></i> </li>-->
                  <!--<li id="thumb_disk_file_item_d89ea655d06ccd6fd712da38008dad44" data-file-id="d89ea655d06ccd6fd712da38008dad44" class="item ui-draggable ui-droppable" style="width: 185px;">-->
                    <!--<div data-action="enter" class="inner">-->
                      <!--<i class="icon icon-m icon-file-m"></i>-->
                      <!--<span class="txt" data-name="file_name" title="重要资源">重要资源</span>-->
                    <!--</div> <i data-file-check="" class="icon icon-check-m"></i> </li>-->
                  <!--<li id="thumb_disk_file_item_d89ea6558708347efa7f4096dd3b5254" data-file-id="d89ea6558708347efa7f4096dd3b5254" class="item ui-draggable ui-droppable" style="width: 185px;">-->
                    <!--<div data-action="enter" class="inner">-->
                      <!--<i class="icon icon-m icon-file-m"></i>-->
                      <!--<span class="txt" data-name="file_name" title="实用软件">实用软件</span>-->
                    <!--</div> <i data-file-check="" class="icon icon-check-m"></i> </li>-->
                  <!--<li id="thumb_disk_file_item_d89ea6552f272b9805768a72283c4ab5" data-file-id="d89ea6552f272b9805768a72283c4ab5" class="item ui-draggable ui-droppable" style="width: 185px;">-->
                    <!--<div data-action="enter" class="inner">-->
                      <!--<i class="icon icon-m icon-file-m"></i>-->
                      <!--<span class="txt" data-name="file_name" title="大学记录">大学记录</span>-->
                    <!--</div> <i data-file-check="" class="icon icon-check-m"></i> </li>-->
                  <!--<li id="thumb_disk_file_item_d89ea6555531d9a2aa23e9519a68ac2a" data-file-id="d89ea6555531d9a2aa23e9519a68ac2a" class="item ui-draggable ui-droppable" style="width: 185px;">-->
                    <!--<div data-action="enter" class="inner">-->
                      <!--<i class="icon icon-m icon-file-m"></i>-->
                      <!--<span class="txt" data-name="file_name" title="杂物">杂物</span>-->
                    <!--</div> <i data-file-check="" class="icon icon-check-m"></i> </li>-->
                  <!--<li id="thumb_disk_file_item_d89ea6556ade335e95e5198dcb41ab56" data-file-id="d89ea6556ade335e95e5198dcb41ab56" class="item ui-draggable ui-droppable" style="width: 185px;">-->
                    <!--<div data-action="enter" class="inner">-->
                      <!--<i class="icon icon-m icon-file-m"></i>-->
                      <!--<span class="txt" data-name="file_name" title="软件成品">软件成品</span>-->
                    <!--</div> <i data-file-check="" class="icon icon-check-m"></i> </li>-->
                  <!--<li id="thumb_disk_file_item_d89ea655f8d93947101d5bbdfa6d7a5c" data-file-id="d89ea655f8d93947101d5bbdfa6d7a5c" class="item ui-draggable ui-droppable" style="width: 185px;">-->
                    <!--<div data-action="enter" class="inner">-->
                      <!--<i class="icon icon-m icon-file-m"></i>-->
                      <!--<span class="txt" data-name="file_name" title="编程资料">编程资料</span>-->
                    <!--</div> <i data-file-check="" class="icon icon-check-m"></i> </li>-->
                  <!--<li id="thumb_disk_file_item_d89ea655e2f17bd90ad5181ffc901597" data-file-id="d89ea655e2f17bd90ad5181ffc901597" class="item ui-draggable ui-droppable" style="width: 185px;">-->
                    <!--<div data-action="enter" class="inner">-->
                      <!--<i class="icon icon-m icon-file-m"></i>-->
                      <!--<span class="txt" data-name="file_name" title="课程资料">课程资料</span>-->
                    <!--</div> <i data-file-check="" class="icon icon-check-m"></i> </li>-->
                  <!--<li id="thumb_disk_file_item_d89ea655fcde35a81fcfb6179ac77a65" data-file-id="d89ea655fcde35a81fcfb6179ac77a65" class="item ui-draggable ui-droppable" style="width: 185px;">-->
                    <!--<div data-action="enter" class="inner">-->
                      <!--<i class="icon icon-m icon-file-m"></i>-->
                      <!--<span class="txt" data-name="file_name" title="其它">其它</span>-->
                    <!--</div> <i data-file-check="" class="icon icon-check-m"></i> </li>-->
                  <!--<li id="thumb_disk_file_item_d89ea6559d8a9eed12ffc0eda20662df" data-file-id="d89ea6559d8a9eed12ffc0eda20662df" class="item ui-draggable ui-droppable" style="width: 185px;">-->
                    <!--<div data-action="enter" class="inner">-->
                      <!--<i class="icon icon-m icon-file-m"></i>-->
                      <!--<span class="txt" data-name="file_name" title="文本资料">文本资料</span>-->
                    <!--</div> <i data-file-check="" class="icon icon-check-m"></i> </li>-->
                  <!--<li id="thumb_disk_file_item_d89ea655fdf4cb0f5e1ae8d58929ef0f" data-file-id="d89ea655fdf4cb0f5e1ae8d58929ef0f" class="item ui-draggable ui-droppable" style="width: 185px;">-->
                    <!--<div data-action="enter" class="inner">-->
                      <!--<i class="icon icon-m icon-file-m"></i>-->
                      <!--<span class="txt" data-name="file_name" title="群共享文件">群共享文件</span>-->
                    <!--</div> <i data-file-check="" class="icon icon-check-m"></i> </li>-->
                  <!--<li id="thumb_disk_file_item_d89ea655848bf66232b9a92257787af8" data-file-id="d89ea655848bf66232b9a92257787af8" class="item ui-draggable ui-droppable" style="width: 185px;">-->
                    <!--<div data-action="enter" class="inner">-->
                      <!--<i class="icon icon-m icon-file-m"></i>-->
                      <!--<span class="txt" data-name="file_name" title="声音资料">声音资料</span>-->
                    <!--</div> <i data-file-check="" class="icon icon-check-m"></i> </li>-->
                  <!--<li id="thumb_disk_file_item_d89ea655307d425b77012fff91d403dd" data-file-id="d89ea655307d425b77012fff91d403dd" class="item ui-draggable ui-droppable" style="width: 185px;">-->
                    <!--<div data-action="enter" class="inner">-->
                      <!--<i class="icon icon-m icon-file-m"></i>-->
                      <!--<span class="txt" data-name="file_name" title="视频资料">视频资料</span>-->
                    <!--</div> <i data-file-check="" class="icon icon-check-m"></i> </li>-->
                  <!--<li id="thumb_disk_file_item_d89ea655c381004ac158516701f0027d" data-file-id="d89ea655c381004ac158516701f0027d" class="item ui-draggable ui-droppable" style="width: 185px;">-->
                    <!--<div data-action="enter" class="inner">-->
                      <!--<i class="icon icon-m icon-file-m"></i>-->
                      <!--<span class="txt" data-name="file_name" title="重要信息">重要信息</span>-->
                    <!--</div> <i data-file-check="" class="icon icon-check-m"></i> </li>-->
                <!--</ul>-->
              <!--</div>-->
              <!--<div class="mod-figure-list">-->
                <!--<ul id="thumb_disk_files" class="figure-list clearfix">-->
                  <!--<li id="thumb_disk_file_item_fa6b7d61-7dd1-478b-abdb-3ffd74539e2e" data-file-id="fa6b7d61-7dd1-478b-abdb-3ffd74539e2e" class="figure-list-item ui-draggable" style="width: 185px;">-->
                    <!--&lt;!&ndash;当前态添加类名act&ndash;&gt;-->
                    <!--&lt;!&ndash; [ATTENTION!!] 如果有文件类型，添加 .is-thumbnail &ndash;&gt;-->
                    <!--<div class="figure-list-item-pic is-thumbnail" style="height: 139px;">-->
                      <!--<i data-action="enter" data-quick-drag="" class="icon icon-l icon-zip-l">訊息</i>-->
                      <!--<i data-file-check="" class="icon icon-check-m"></i>-->
                    <!--</div>-->
                    <!--<div data-action="enter" class="figure-list-item-txt">-->
                      <!--&lt;!&ndash; [ATTENTION!!] 縮略小圖，圖標 class 變化的是 .icon-xxx-s  &ndash;&gt;-->
                      <!--<p class="tit"> <i class="icon icon-s icon-zip-s"></i> <span class="txt" data-quick-drag="" data-name="file_name" title="14059913.7z">14059913.7z </span> </p>-->
                    <!--</div> </li>-->
                  <!--<li id="thumb_disk_file_item_9cbd327e-891e-4bb0-99b7-fc0c2dded3af" data-file-id="9cbd327e-891e-4bb0-99b7-fc0c2dded3af" class="figure-list-item ui-draggable" style="width: 185px;">-->
                    <!--&lt;!&ndash;当前态添加类名act&ndash;&gt;-->
                    <!--&lt;!&ndash; [ATTENTION!!] 如果有文件类型，添加 .is-thumbnail &ndash;&gt;-->
                    <!--<div class="figure-list-item-pic is-thumbnail" style="height: 139px;">-->
                      <!--<i data-action="enter" data-quick-drag="" class="icon icon-l icon-settings-l">訊息</i>-->
                      <!--<i data-file-check="" class="icon icon-check-m"></i>-->
                    <!--</div>-->
                    <!--<div data-action="enter" class="figure-list-item-txt">-->
                      <!--&lt;!&ndash; [ATTENTION!!] 縮略小圖，圖標 class 變化的是 .icon-xxx-s  &ndash;&gt;-->
                      <!--<p class="tit"> <i class="icon icon-s icon-settings-s"></i> <span class="txt" data-quick-drag="" data-name="file_name" title="webdata.exe">webdata.exe </span> </p>-->
                    <!--</div> </li>-->
                  <!--<li id="thumb_disk_file_item_4c4a0ee9-88d7-417e-b8f0-5a24fea07e50" data-file-id="4c4a0ee9-88d7-417e-b8f0-5a24fea07e50" class="figure-list-item ui-draggable" style="width: 185px;">-->
                    <!--&lt;!&ndash;当前态添加类名act&ndash;&gt;-->
                    <!--&lt;!&ndash; [ATTENTION!!] 如果有文件类型，添加 .is-thumbnail &ndash;&gt;-->
                    <!--<div class="figure-list-item-pic is-thumbnail" style="height: 139px;">-->
                      <!--<i data-action="enter" data-quick-drag="" class="icon icon-l icon-settings-l">訊息</i>-->
                      <!--<i data-file-check="" class="icon icon-check-m"></i>-->
                    <!--</div>-->
                    <!--<div data-action="enter" class="figure-list-item-txt">-->
                      <!--&lt;!&ndash; [ATTENTION!!] 縮略小圖，圖標 class 變化的是 .icon-xxx-s  &ndash;&gt;-->
                      <!--<p class="tit"> <i class="icon icon-s icon-settings-s"></i> <span class="txt" data-quick-drag="" data-name="file_name" title="客户端测试程序.exe">客户端测试程序.exe </span> </p>-->
                    <!--</div> </li>-->
                  <!--<li id="thumb_disk_file_item_ec2bacf2-8e14-4160-b187-b3825c7ed359" data-file-id="ec2bacf2-8e14-4160-b187-b3825c7ed359" class="figure-list-item ui-draggable" style="width: 185px;">-->
                    <!--&lt;!&ndash;当前态添加类名act&ndash;&gt;-->
                    <!--&lt;!&ndash; [ATTENTION!!] 如果有文件类型，添加 .is-thumbnail &ndash;&gt;-->
                    <!--<div class="figure-list-item-pic is-thumbnail" style="height: 139px;">-->
                      <!--<i data-action="enter" data-quick-drag="" class="icon icon-l icon-txt-l">訊息</i>-->
                      <!--<i data-file-check="" class="icon icon-check-m"></i>-->
                    <!--</div>-->
                    <!--<div data-action="enter" class="figure-list-item-txt">-->
                      <!--&lt;!&ndash; [ATTENTION!!] 縮略小圖，圖標 class 變化的是 .icon-xxx-s  &ndash;&gt;-->
                      <!--<p class="tit"> <i class="icon icon-s icon-txt-s"></i> <span class="txt" data-quick-drag="" data-name="file_name" title="collector.txt">collector.txt </span> </p>-->
                    <!--</div> </li>-->
                  <!--<li id="thumb_disk_file_item_3c136728-4c4b-44a1-acde-e2fdfb6b573d" data-file-id="3c136728-4c4b-44a1-acde-e2fdfb6b573d" class="figure-list-item ui-draggable" style="width: 185px;">-->
                    <!--&lt;!&ndash;当前态添加类名act&ndash;&gt;-->
                    <!--&lt;!&ndash; [ATTENTION!!] 如果有文件类型，添加 .is-thumbnail &ndash;&gt;-->
                    <!--<div class="figure-list-item-pic is-thumbnail" style="height: 139px;">-->
                      <!--<i data-action="enter" data-quick-drag="" class="icon icon-l icon-settings-l">訊息</i>-->
                      <!--<i data-file-check="" class="icon icon-check-m"></i>-->
                    <!--</div>-->
                    <!--<div data-action="enter" class="figure-list-item-txt">-->
                      <!--&lt;!&ndash; [ATTENTION!!] 縮略小圖，圖標 class 變化的是 .icon-xxx-s  &ndash;&gt;-->
                      <!--<p class="tit"> <i class="icon icon-s icon-settings-s"></i> <span class="txt" data-quick-drag="" data-name="file_name" title="MySql.Data.dll">MySql.Data.dll </span> </p>-->
                    <!--</div> </li>-->
                  <!--<li id="thumb_disk_file_item_3f19e9c8-b59f-43cd-aaa4-459db0f3b4c1" data-file-id="3f19e9c8-b59f-43cd-aaa4-459db0f3b4c1" class="figure-list-item ui-draggable" style="width: 185px;">-->
                    <!--&lt;!&ndash;当前态添加类名act&ndash;&gt;-->
                    <!--&lt;!&ndash; [ATTENTION!!] 如果有文件类型，添加 .is-thumbnail &ndash;&gt;-->
                    <!--<div class="figure-list-item-pic is-thumbnail" style="height: 139px;">-->
                      <!--<i data-action="enter" data-quick-drag="" class="icon icon-l icon-settings-l">訊息</i>-->
                      <!--<i data-file-check="" class="icon icon-check-m"></i>-->
                    <!--</div>-->
                    <!--<div data-action="enter" class="figure-list-item-txt">-->
                      <!--&lt;!&ndash; [ATTENTION!!] 縮略小圖，圖標 class 變化的是 .icon-xxx-s  &ndash;&gt;-->
                      <!--<p class="tit"> <i class="icon icon-s icon-settings-s"></i> <span class="txt" data-quick-drag="" data-name="file_name" title="stmp_test.exe">stmp_test.exe </span> </p>-->
                    <!--</div> </li>-->
                  <!--<li id="thumb_disk_file_item_cb05e995-1eb6-4043-ada6-441f9a507218" data-file-id="cb05e995-1eb6-4043-ada6-441f9a507218" class="figure-list-item ui-draggable" style="width: 185px;">-->
                    <!--&lt;!&ndash;当前态添加类名act&ndash;&gt;-->
                    <!--&lt;!&ndash; [ATTENTION!!] 如果有文件类型，添加 .is-thumbnail &ndash;&gt;-->
                    <!--<div class="figure-list-item-pic is-thumbnail" style="height: 139px;">-->
                      <!--<i data-action="enter" data-quick-drag="" class="icon icon-l icon-settings-l">訊息</i>-->
                      <!--<i data-file-check="" class="icon icon-check-m"></i>-->
                    <!--</div>-->
                    <!--<div data-action="enter" class="figure-list-item-txt">-->
                      <!--&lt;!&ndash; [ATTENTION!!] 縮略小圖，圖標 class 變化的是 .icon-xxx-s  &ndash;&gt;-->
                      <!--<p class="tit"> <i class="icon icon-s icon-settings-s"></i> <span class="txt" data-quick-drag="" data-name="file_name" title="QrExtract.exe">QrExtract.exe </span> </p>-->
                    <!--</div> </li>-->
                  <!--<li id="thumb_disk_file_item_832914d9-f1ee-4d85-a61d-bab448b58130" data-file-id="832914d9-f1ee-4d85-a61d-bab448b58130" class="figure-list-item ui-draggable" style="width: 185px;">-->
                    <!--&lt;!&ndash;当前态添加类名act&ndash;&gt;-->
                    <!--&lt;!&ndash; [ATTENTION!!] 如果有文件类型，添加 .is-thumbnail &ndash;&gt;-->
                    <!--<div class="figure-list-item-pic is-thumbnail" style="height: 139px;">-->
                      <!--<i data-action="enter" data-quick-drag="" class="icon icon-l icon-code-l">訊息</i>-->
                      <!--<i data-file-check="" class="icon icon-check-m"></i>-->
                    <!--</div>-->
                    <!--<div data-action="enter" class="figure-list-item-txt">-->
                      <!--&lt;!&ndash; [ATTENTION!!] 縮略小圖，圖標 class 變化的是 .icon-xxx-s  &ndash;&gt;-->
                      <!--<p class="tit"> <i class="icon icon-s icon-code-s"></i> <span class="txt" data-quick-drag="" data-name="file_name" title="config.ini">config.ini </span> </p>-->
                    <!--</div> </li>-->
                  <!--<li id="thumb_disk_file_item_ac6e1871-9a11-4a29-83c3-bb37ea1cb258" data-file-id="ac6e1871-9a11-4a29-83c3-bb37ea1cb258" class="figure-list-item ui-draggable" style="width: 185px;">-->
                    <!--&lt;!&ndash;当前态添加类名act&ndash;&gt;-->
                    <!--&lt;!&ndash; [ATTENTION!!] 如果有文件类型，添加 .is-thumbnail &ndash;&gt;-->
                    <!--<div class="figure-list-item-pic is-thumbnail" style="height: 139px;">-->
                      <!--<i data-action="enter" data-quick-drag="" class="icon icon-l icon-doc-l">訊息</i>-->
                      <!--<i data-file-check="" class="icon icon-check-m"></i>-->
                    <!--</div>-->
                    <!--<div data-action="enter" class="figure-list-item-txt">-->
                      <!--&lt;!&ndash; [ATTENTION!!] 縮略小圖，圖標 class 變化的是 .icon-xxx-s  &ndash;&gt;-->
                      <!--<p class="tit"> <i class="icon icon-s icon-doc-s"></i> <span class="txt" data-quick-drag="" data-name="file_name" title="h3c速记.doc">h3c速记.doc </span> </p>-->
                    <!--</div> </li>-->
                  <!--<li id="thumb_disk_file_item_8922bc91-c1a6-4db3-92a2-8de479b035a5" data-file-id="8922bc91-c1a6-4db3-92a2-8de479b035a5" class="figure-list-item ui-draggable" style="width: 185px;">-->
                    <!--&lt;!&ndash;当前态添加类名act&ndash;&gt;-->
                    <!--&lt;!&ndash; [ATTENTION!!] 如果有文件类型，添加 .is-thumbnail &ndash;&gt;-->
                    <!--<div class="figure-list-item-pic is-thumbnail" style="height: 139px;">-->
                      <!--<i data-action="enter" data-quick-drag="" class="icon icon-l icon-settings-l">訊息</i>-->
                      <!--<i data-file-check="" class="icon icon-check-m"></i>-->
                    <!--</div>-->
                    <!--<div data-action="enter" class="figure-list-item-txt">-->
                      <!--&lt;!&ndash; [ATTENTION!!] 縮略小圖，圖標 class 變化的是 .icon-xxx-s  &ndash;&gt;-->
                      <!--<p class="tit"> <i class="icon icon-s icon-settings-s"></i> <span class="txt" data-quick-drag="" data-name="file_name" title="QQ分析.exe">QQ分析.exe </span> </p>-->
                    <!--</div> </li>-->
                  <!--<li id="thumb_disk_file_item_06df69e9-913e-47bd-a4e8-4cbc6704df51" data-file-id="06df69e9-913e-47bd-a4e8-4cbc6704df51" class="figure-list-item ui-draggable" style="width: 185px;">-->
                    <!--&lt;!&ndash;当前态添加类名act&ndash;&gt;-->
                    <!--&lt;!&ndash; [ATTENTION!!] 如果有文件类型，添加 .is-thumbnail &ndash;&gt;-->
                    <!--<div class="figure-list-item-pic is-thumbnail" style="height: 139px;">-->
                      <!--<i data-action="enter" data-quick-drag="" class="icon icon-l icon-zip-l">訊息</i>-->
                      <!--<i data-file-check="" class="icon icon-check-m"></i>-->
                    <!--</div>-->
                    <!--<div data-action="enter" class="figure-list-item-txt">-->
                      <!--&lt;!&ndash; [ATTENTION!!] 縮略小圖，圖標 class 變化的是 .icon-xxx-s  &ndash;&gt;-->
                      <!--<p class="tit"> <i class="icon icon-s icon-zip-s"></i> <span class="txt" data-quick-drag="" data-name="file_name" title="Visio2010.rar">Visio2010.rar </span> </p>-->
                    <!--</div> </li>-->
                <!--</ul>-->
              <!--</div>-->
              <!--<div id="_thumb_disk_files_empty" class="empty-box" style="display: none;">-->
                <!--&lt;!&ndash; 全部为空 &ndash;&gt;-->
                <!--<div class="status-inner">-->
                  <!--<i class="icon icon-nofile"></i>-->
                  <!--<h2 class="title">暂无文件</h2>-->
                  <!--<p class="txt">请点击右上角的“添加”按钮添加</p>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div id="_task_body" class="mod-list-group task-ctrl-list mod-list-group-with-loc" style="background: rgb(255, 255, 255); display: none; position: absolute;">-->
              <!--<div class="group-item j-process-group" style="display: none;">-->
                <!--<div class="list-group-hd">-->
                  <!--<p class="tit"> 进行中 (剩余<span class="j-process-count"></span>) <span class="tips j-top-tips"> <span class="tips with-border loc-abs with-logo j-speedup-vip-span">会员专享传输最高提速500%<a class="txt-link" href="javascript: void(0);" data-upload="speedup_vip">开通会员</a></span> <a href="javascript: void(0);" class="tips with-border loc-abs j-capacity-purchase-a" data-upload="capacity_buy" style="display: none;" target="_blank"><i class="icon icon-assert"></i>容量不足，超大容量立即购买<i class="icon icon-link-to">跳转</i></a> <span class="tips with-border loc-abs with-logo j-capacity-vip-span" style="display: none;">容量不足，会员专享3T容量<a class="txt-link" href="javascript: void(0);" data-upload="capacity_vip">开通会员</a><i class="icon icon-tips-close j-tips-close">关闭</i></span> </span> </p>-->
                  <!--<div class="btn-group">-->
                    <!--<div class="btn-vip-wrapper j-upbox-speedup" style="">-->
                      <!--<button class="btn btn-m btn-vip" data-upload="speedup_try" style="display: none;">体验加速</button>-->
                      <!--&lt;!&ndash; [ATTENTION!!] 加速体验 s &ndash;&gt;-->
                      <!--<div class="accelerate-wrapper try-accelerate j-novip-inner" style="display:none;">-->
                        <!--&lt;!&ndash; 60s 倒数 &ndash;&gt;-->
                        <!--<i class="icon icon-count-down j-speedup-try-num">30</i> 加速中-->
                        <!--<b class="effect-wrapper"></b>-->
                      <!--</div>-->
                      <!--&lt;!&ndash; [ATTENTION!!] 加速体验 e &ndash;&gt;-->
                      <!--&lt;!&ndash; [ATTENTION!!] 会员加速 s &ndash;&gt;-->
                      <!--<div class="accelerate-wrapper vip-accelerate j-vip-inner" style="display:none;">-->
                        <!--<i class="icon icon-vip-accelerate" aria-hidden="true"></i> 会员加速中-->
                        <!--<b class="effect-wrapper"></b>-->
                      <!--</div>-->
                      <!--&lt;!&ndash; [ATTENTION!!] 会员加速 e &ndash;&gt;-->
                    <!--</div>-->
                    <!--<button class="btn btn-m" data-upload="clear_process">取消</button>-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="list-group-bd">-->
                  <!--<div id="task_safebox_view_process" style="display: none" class="list-group-item">-->
                    <!--<div class="processing j-upload-mask" style="width: 0;"></div>-->
                    <!--<div class="item-tit">-->
                      <!--<div class="label">-->
                        <!--<i class="icon icon-upload-mini"></i>-->
                      <!--</div>-->
                      <!--<div class="thumb">-->
                        <!--<i class="icon icon-m icon-safebox-file-m"></i>-->
                      <!--</div>-->
                      <!--<div class="info">-->
                        <!--<span class="tit ellipsis j-title"></span>-->
                        <!--<span class="sub-info"> <span class="item-info-list item-info-status fail j-upload-error" style="display: none;"> <span class="j-upload-error-text">上传失败</span> <a href="javascript: void(0);" class="link">反馈</a> </span> <span class="item-info-list item-info-size j-upload-data-size"></span> <span class="item-info-list item-info-status j-upload-state-text" style="display: none;">等待上传</span> <span class="item-info-list item-info-duration j-upload-remain-time" style="display: none;"></span> </span>-->
                      <!--</div>-->
                    <!--</div>-->
                    <!--<div class="item-info">-->
                      <!--&lt;!&ndash; [ATTENTION!!] 会员加速速度显示 &ndash;&gt;-->
                      <!--<span class="item-info-list item-info-speed j-upload-speed" style="display: none;"> <i class="icon icon-speed j-upload-speed-up" style="display: none;"></i> <span class="j-upload-speed-text"></span> </span>-->
                      <!--<span class="item-info-list item-info-loc j-upload-path" style="display: none;"> <a href="javascript: void(0);" class="txt txt-link" title=""></a> </span>-->
                      <!--<span class="item-info-list"> <span class="mod-act-list j-act-list">-->
               <!--&lt;!&ndash; [ATTENTION!!] .pause 切换，继续上传 || 暂停上传 &ndash;&gt; <a href="javascript: void(0);" class="act-list j-upload-oper j-upload-cancel" title="取消上传" data-upload="click_event" data-action="click_cancel"><i class="icon icon-upload-cancel"></i></a> </span> </span>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<ul class="list-group j-process-list">-->
                  <!--</ul>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="group-item j-complete-group" style="display: none;">-->
                <!--<div class="list-group-hd">-->
                  <!--<p class="tit">已完成 (<span class="j-complete-count"></span>)</p>-->
                  <!--<div class="btn-group">-->
                    <!--<button class="btn btn-m" data-upload="clear_complete">清空记录</button>-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="list-group-bd">-->
                  <!--<div id="task_safebox_view_complete" style="display: none" class="list-group-item">-->
                    <!--<div class="processing j-upload-mask" style="width: 0;"></div>-->
                    <!--<div class="item-tit">-->
                      <!--<div class="label">-->
                        <!--<i class="icon icon-upload-mini"></i>-->
                      <!--</div>-->
                      <!--<div class="thumb">-->
                        <!--<i class="icon icon-m icon-safebox-file-m"></i>-->
                      <!--</div>-->
                      <!--<div class="info">-->
                        <!--<span class="tit ellipsis j-title">加密文件</span>-->
                        <!--<span class="sub-info"> <span class="item-info-list item-info-status fail j-upload-error" style="display: none;"> <span class="j-upload-error-text">上传失败</span> <a href="javascript: void(0);" class="link">反馈</a> </span> <span class="item-info-list item-info-size j-upload-data-size"></span> <span class="item-info-list item-info-status j-upload-state-text" style="display: none;">等待上传</span> <span class="item-info-list item-info-duration j-upload-remain-time" style="display: none;"></span> </span>-->
                      <!--</div>-->
                    <!--</div>-->
                    <!--<div class="item-info">-->
                      <!--&lt;!&ndash; [ATTENTION!!] 会员加速速度显示 &ndash;&gt;-->
                      <!--<span class="item-info-list item-info-speed j-upload-speed" style="display: none;"> <i class="icon icon-speed j-upload-speed-up" style="display: none;"></i> <span class="j-upload-speed-text"></span> </span>-->
                      <!--<span class="item-info-list item-info-loc j-upload-path" style="display: none;"> <a href="javascript: void(0);" class="txt txt-link" title=""></a> </span>-->
                      <!--<span class="item-info-list"> <span class="mod-act-list j-act-list">-->
               <!--&lt;!&ndash; [ATTENTION!!] .pause 切换，继续上传 || 暂停上传 &ndash;&gt; </span> </span>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<ul class="list-group j-complete-list">-->
                  <!--</ul>-->
                <!--</div>-->
              <!--</div>-->
              <!--&lt;!&ndash;空内容展示&ndash;&gt;-->
              <!--<div class="empty-box j-upload-empty">-->
                <!--&lt;!&ndash; 任务为空 &ndash;&gt;-->
                <!--<div class="status-inner" id="js-nofile" style="">-->
                  <!--<i class="icon icon-nofile"></i>-->
                  <!--<h2 class="title">没有任务</h2>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!-- 主要内容 e -->
    </div>
  </div>
</div>
</div>
