.out-side{
  min-width:850px;
}
/*最外框*/
.layout-body{
  position: relative;
  height: 100%;
  /*display: inline;*/
  /*padding: 0px 0px 0px 200px;*/
}
/*顶部栏*/
.header{
  position: fixed;
  width:100%;
  min-width:850px;
  top:0;
  left: 0;
}
/*侧边栏*/
.layout-body .layout-aside{
  position: fixed;
  width:200px;
  background:#fff;
  margin-top: 66px;
  /*left:0;*/
  float:left;
  height: 100%;
  border-right:1px solid #E6E7EC;}
/*内容区*/
.layout-body .container {
  max-width: 90%;
  width:90%;
  margin-top: 66px;
  margin-left: 200px;
  position: fixed;
  text-align: center;
  clear: both;
}
::-webkit-scrollbar-track{
  width:0;
}
