<div>

  <div class="layout-aside-hd">
    <div class="mod-user mod-user-vip">
      <!--用户头像-->
      <div id="_main_face" class="user-avatar">
        <a class="user-avatar-pic" href="javascript: void(0);" data-id="qzone_vip">
          <img src="{{user?user.avatar:'/assets/img/avatar.png'}}" />
          <i class="icon icon-vip j-vip-icon" title="VIP会员" style="display: none; background-image: url(//qzonestyle.gtimg.cn/qz-proj/wy-src/img/vip-v2/vip_0_off_M.png);"></i>
        </a>
      </div>
      <!-- 用户信息 s -->
      <div id="_main_face_menu" class="mod-bubble-dropdown acct-bubble-dropdown" style="display: block;text-align: center;">
        <div class="acct-dropdown">
          <div class="acct-info">
            <div class="name-container clearfix">
              <span id="_main_nick_name" class="name">{{user?.nick}}</span>
            </div>
          </div>

        </div>
      </div>
      <!-- 用户信息 e -->
    </div>
  </div>

  <div id="_main_nav_aside_box" class="layout-aside-bd" style="height: 745px; overflow-y: hidden;">
    <!-- 菜单 s -->
    <div id="_main_nav_aside_wrap" class="mod-menu" style="width: 100%;">
      <!-- 导航项目s -->
      <div class="menu-item" *ngFor="let t of navs">
        <div class="menu-item-bd">
          <ul class="menu-list">
            <li *ngFor="let r of t.routers" [ngClass]="{'cur':r.checked}"><a href="{{r.url}}"><i class="icon {{r.icon}}"></i><span class="menu-tit">{{r.name}}</span></a></li>
          </ul>
        </div>
      </div>
      <!-- 导航项目e -->
    </div>
    <!-- 菜单 s -->
  </div>
</div>
